@font-face{
    font-family: "Averta";
    src:  url("../../assets/font/AvertaPE-Light.woff2")
}
@font-face{
    font-family: "Atlantis-resort";
    src:  url("../../assets/font/AtlantisResorts-Headline.woff2")
}