:root {
    --theme-header-background-color: #1c3532;
    --theme-white-color: #fff;
    --theme-color-black: #000;
    --theme-button-hover-background-color: #eef90c;
    --theme-button-hover-border-color: #eef90c;
}

$theme-primary-color: #1c3532;
$theme-btn-hover-color: #ff0;
$theme-white-text: #fff;
$whatsapp-header-bg-color: #202c33;
$what-search-bg-color: #111b21;
$input-search-bg-color: #202c33;
$button-antalantis-hover-bg-color: #0032a0;
$heading-font-primary-color: #0057b7;
$header-footer-bg-color: #0057b7;